body{
    background-image: url(./images/mountains-morning-snow-rock-mountain-landscape\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.two{
    background-image: url(./images/mountains-morning-snow-rock-mountain-landscape\ \(1\).png);
    width: 300;
    height: 100;
}
.text-center{
      color: white;
}